/* CSS Document */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

li {
    padding: 0px;
}

a {
    text-decoration: none;
    color: black;
}

@font-face {
    font-family: Lato;
    src: url(font/lato-regular.ttf) format('truetype');
}

[class*="col-"] {
    float: left;
    padding: 20px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

body {
    font-family: Lato, Tahoma, Geneva, sans-serif;
    font-size: 14px;
}

header {
    border-top: 3px solid black;

    padding: 0px 20px !important;
}

header .header-top {
    overflow: auto;
    font-size: 12px;
    padding-top: 10px;
}

header .header-top p:first-child {
    float: left;
    line-height: 24px;
}

header .header-top p:last-child {
    float: right;
}

header .header-top input[type=text] {
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    height: 24px;
    padding: 5px;
    margin-right: 10px;
}

header div.img {
    text-align: center;
    padding: 40px 0px;
}

header > ul {
    position: relative;
    margin-left: 50%;
    left: -200px;
    font-weight: bold;
}

header > ul > li {
    position: relative;
    float: left;
    margin-right: 40px;
}

header > ul > li:last-child {
    margin-right: 0px;
}

header ul a {
    display: block;
}

header > ul > li > a {
    line-height: 30px;
    padding: 0px 5px;
}

header > ul > li > ul {
    position: absolute;
    left: 0px;
    white-space: nowrap;
    display: none;
    z-index: 9999;
    background-color: black;
    padding: 5px 10px;
}

header > ul > li > ul a {
    color: white;
    line-height: 30px;
}

header > ul > li:hover > ul {
    display: block;
}

header > ul > li:nth-child(1):hover > a {
    color: #ffd300;
}

header > ul > li:nth-child(2):hover > a {
    color: #00deff;
}

header > ul > li:nth-child(3):hover > a {
    color: #ff0057;
}

header > ul > li:nth-child(4):hover > a {
    color: #97b600;
}

header > ul > li:nth-child(5):hover > a {
    color: #ff4800;
}

header > ul > li:nth-child(1):hover > ul {
    border-top: 3px solid #ffd300;
}

header > ul > li:nth-child(2):hover > ul {
    border-top: 3px solid #00deff;
}

header > ul > li:nth-child(3):hover > ul {
    border-top: 3px solid #ff0057;
}

header > ul > li:nth-child(4):hover > ul {
    border-top: 3px solid #97b600;
}

header > ul > li:nth-child(5):hover > ul {
    border-top: 3px solid #ff4800;
}

.slide {
    border-top: 3px solid black;
}

.slide img {
    width: 100%;
    height: auto;
}






