@charset "utf-8";
@font-face {
	font-family: Lato;
	src: url(font/lato-regular.ttf);
}

@font-face {
	font-family: Lato-bold;
	src: url(font/lato-bold.ttf);
}

/**{margin:0px; padding:0px; box-sizing:border-box;}*/

table{
	/*border: 1px solid #252525;*/
	/*font-size: 16px !important;*/
}
td, th{
	padding: 5px;
	/*border: 1px solid #252525;*/
}

a, a:hover, a:active, a:focus {
	text-decoration: none;
	color: #252525;
}

a:hover {
	cursor: pointer;
}

ul {
	list-style-type: none;
}

@media (min-width: 1300px) {
	.container {
		width: 1270px;
	}
}

label, th{
	font-family: Lato-bold, Tahoma;
}

label.error {
	color: #ee3b27;
	font-size: small;
}



/************ Standard *************/
input[type=text], input[type=password], textarea {
	border: 1px solid #333;
	outline: none;
}

input[type=number]{
	width: 50px;
}

input[type=submit], input[type=button], button, .bt-link {
	background-color: #ee3b27;
	border: 1px solid #ee3b27;
	color: white;
	padding: 6px 12px;
	padding-bottom: 4px;
	font-family: Lato-bold, Tahoma;
	box-sizing: border-box;

	transition: background-color 0.25s ease;
	-webkit-transition: background-color 0.25s ease;
	-o-transition: background-color 0.25s ease;
	-moz-transition: background-color 0.25s ease;
	-ms-transition: background-color 0.25s ease;
}

.bt-link {
	padding: 8px 12px 5px;
}

input[type=submit]:hover, input[type=button]:hover, button:hover, .bt-link:hover {
	background-color: white;
	color: #ee3b27;
}

input[type=submit]:focus, input[type=button]:focus, button:focus, .bt-link:focus,
input[type=submit]:active, input[type=button]:active, button:active, .bt-link:active {
	outline: none;
	background-color: #ee3b27;
	color: white;
}

.form-group {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.form-control {
	border-radius: 0;
	border: 1px solid #252525;
}

.form-control:focus {
	border: 1px solid #337ab7;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.bt-blue {
	background-color: #337ab7;
	border: 1px solid #337ab7;
}

.bt-blue:hover {
	border: 1px solid #337ab7;
	color: #337ab7;
	background-color: #fff;
}

.bt-blue:focus, .bt-blue:active {
	outline: none;
	background-color: #337ab7;
	color: white;
}

a.txt-link{
	color: #337ab7;
	text-decoration: underline;
}

.fa {
	cursor: pointer;
}

.title {
	font-weight: bold;
}

body {
	font-family: Lato, Tahoma, Geneva, sans-serif;
	font-size: 16px;
	color: #252525;
}

.dropdown-menu {
	top: 20px;
	border-color: #ccc;
}
.dropdown.open-hover:hover .dropdown-menu {
	display: block;
	margin-top: 0; // remove the gap so it doesn't close
}


.navbar {
	height: 67px;
	margin-bottom: 0;
	border-bottom: 1px solid #ccc;
	border-radius: 0;
}

.navbar .container-fluid {
	padding-bottom: 10px;
}

#myNav {
	z-index: 9999;
	overflow-x: hidden;
}

#myNav ul:nth-of-type(1) {
	margin-top: 15px;
}
#myNav ul:nth-of-type(2) {
	margin-top: 20px;
	height: 45px;
}

#myNav ul:nth-of-type(1) ul {
	margin-top: 30px;
}
#myNav ul:nth-of-type(2) ul, #myNav ul:nth-of-type(2) div{
	margin-top: 25px;
}

#myNav ul:last-child li {
	margin: 0px 8px;
}

#myNav input[type=text] {
	height: 30px;
	background-image: url(../image/mainNavSearchIcon.png);
	background-position: 5px center;
	background-repeat: no-repeat;
	background-size: 30px 30px;
	background-clip: padding-box;
	padding: 0px 10px 0px 30px;
	width: 0px;
	transition: width 0.5s ease;
	border: none;
	cursor: pointer;
}

#myNav input[type=text]:focus {
	width: 300px;
	border: 1px solid #252525;
	background-size: 20px 20px;
	outline: none;
}

.nav > li.dropdown.account {
	height: 100%;
}
.nav > li.dropdown.account > a, .nav > li#cart > a {
	padding: 0 10px;
}

.nav .account.open>a, .nav .account.open>a:focus, .nav .account.open>a:hover{
	background-color: transparent;
	border: none;
}

/*box dropdown style*/
.arrow-box{
	background: #fff;
	border: 1px solid #252525;
}
.arrow-box:after, .arrow-box:before{
	width:0;
	height:0;
	content: "";
	position: absolute;
	bottom: 100%;
	right: 12px;
}
.arrow-box:after{
	border: 9px solid transparent;
	border-bottom-color: #fff;
	right: 13px;
}
.arrow-box:before{
	border: 10px solid transparent;
	border-bottom-color: #000;
}

div.box-cart{
	width: 350px;
	padding: 10px 15px;
}
div.box-cart .title{
	text-align: center;
}
.dropdown-menu>li>a{
	color: #252525;
}

#shopping_cart{
	border-bottom: 1px solid #ddd;
}
#shopping_cart > tbody > tr > td, #order_table > tbody > tr > td{
	vertical-align: middle;
}
#shopping_cart .fa-times-circle, #order_table .fa-times-circle, #order_table .fa-file-text{
	font-size: 15px;
	color: #ccc;
}
#shopping_cart .fa-times-circle:hover, #order_table .fa-times-circle:hover, #order_table .fa-file-text:hover{
	color: #252525;
}

/*Search style*/
.ui-autocomplete.ui-widget-content{
	max-height: 250px;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #fff;
}
.ui-autocomplete.ui-menu .ui-menu-item.ui-state-focus{
	background-color: #eee;
	color: #252525;
	border-color: transparent;
}

/*box info*/
ul.box-info{
	padding: 0;
	background-color: #f0f0f0;
}
ul.box-info.box-info-border{
	border: 1px solid #252525;
	background-color: #fff;
}
ul.box-info > li{
	padding: 8px 15px;
}
/*end box info*/

.nav > li.dropdown.account > a:focus, .nav > li.dropdown.account > a:hover,
.nav > li.dropdown.account > a:active, .nav > li.dropdown.account > a:visited
.nav > li#cart > a:focus, .nav > li#cart > a:hover, .nav > li#cart > a:active, .nav > li#cart > a:visited{
	background-color: transparent;
	color: inherit;
}

.navbar-nav > li > .dropdown-menu {
	border-radius: 0;
}

.dropdown-menu > li > a, .dropdown-menu > li > span:first-child {
	padding: 3px 5px;
}

.dropdown-menu > li > span > span {
	color: red;
}

#cart {
	position: relative;
}

#cart_num {
	background-color: red;
	border-radius: 10px;
	width: 15px;
	height: 15px;
	position: absolute;
	right: 0px;
	top: -5px;
	z-index: 9999;
	color: white;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	font-family: Lato, Tahoma;
	padding-top: 1px;
}

.navbar-toggle{
	background-color: #ee3b27;
	border-color: #ee3b27;
}

.breadcrumbs{
	padding: 0 70px;
	margin: 20px auto;
	font-size: 14px;
}
.breadcrumbs .divider{
	padding: 0 6px;
}

.dd-sort{
	position: relative;
	bottom: 12px;
	width: initial;
	height: 30px;
}
#sort{
	padding-top: 10px;
	padding-left: 160px;
}
#menu-sort{
	margin-top: 14px;
    width: 180px;
}
#sort-button{
	width: 180px;
	padding: 4px 10px;
	border-radius: 0;
}
/*Login modal*/
.modal .modal-dialog .modal-content {
	border-radius: 0px;
}

.panel-title {
	border-bottom: solid 1px #888;
	padding-bottom: 13px;
}

.panel-info {
	border: none;
}

#login-panel-heading {
	background-color: #fff;
	border-color: #fff;
	color: #000000;
	padding-top: 15px;
}

#login-panel-title {
	font-size: 18px;
}

#dont-have-account {
	border-top: 1px solid #888;
	padding-top: 15px;
	font-size: 85%;
}

#sub {
	margin-top: 10px;
	margin-bottom: 15px;
}

i.fa.fa-facebook {
	margin-right: 10px;
}

i.fa.fa-sign-in {
	margin-right: 10px;
}

.panel.panel-info {
	margin-bottom: 0;
}
/*End login modal*/

/*Register modal*/
#signup{
	margin-top: 50px;
	border-radius: 0px;
}
#signin{
	float: right;
	font-size: 80%;
	position: relative;
	top: -20px;
}

#signin > a {
	color: #000;
}

#signin > a:hover {
	color: #dbdbdb;
	text-decoration: none;
}

#signup-panel-heading {
	background-color: #fff;
	border-color: #fff;
	color: #000000;
	padding-top: 15px;
}

.panel-title {
	border-bottom: solid 1px #888;
	padding-bottom: 13px;
}

#login_or{
	text-align: center;
	font-size: 12px;
	color: #999;
	position: relative;
	display: table;
	white-space: nowrap;
	margin-top: 15px;
}
i.fa.fa-facebook {
	margin-right: 10px;
}
i.fa.fa-sign-in {
	margin-right: 10px;
}
.panel.panel-info {
	margin-bottom: 0;
}
/*End register modal*/

#myCarousel img {
	width: 100%;
	height: 540px;
}

@media only screen and (max-width: 1024px){
	#myCarousel img {
		width: 100%;
		height: auto;
	}
}
.carousel-indicators li{
	background-color: #ddd;
	border: none
}
.carousel-indicators .active{
	background-color: #ee3b27;
	border: 1px solid #ee3b27;
}
.carousel-control.left, .carousel-control.right{
	background-image: none !important;

}
.carousel-control{
	width: 3%;
}
.carousel-control .fa-angle-left, .carousel-control .fa-angle-right{
	position: absolute;
	font-size: 40px;
	top: 40%;
	color: #dddddd;
	opacity: 1;
}
.carousel-control:hover .fa{
	color: #ee3b27;
	opacity: 1;
}

.elements {
	overflow: auto;
	padding: 10px 70px;
	margin-top: 30px;
}

.elements img {
	width: 100%;
	height: auto;
}

.elements a {
	position: relative;
	display: block;
}

.elements a span {
	position: absolute;
	left: 50%;
	color: white;
	font-size: 24px;
	white-space: nowrap;
	top: 50%;
	margin-top: -15px;
	padding: 10px 20px;
}

.elements a span::before, .elements a span::after {
	content: "";
	position: absolute;
	border: 1px solid transparent;
	width: 0;
	height: 0;
}

.elements a:hover span::before {
	top: 0;
	left: 0;
	border-top: 1px solid white;
	border-right: 1px solid white;
	width: 100%;
	height: 100%;
	transition: width 0.2s ease-out,
	height 0.2s ease-out 0.2s;
}

.elements a:hover span::after {
	bottom: 0;
	right: 0;
	border-bottom: 1px solid white;
	border-left: 1px solid white;
	width: 100%;
	height: 100%;
	transition: width 0.2s ease-out 0.4s,
	height 0.2s ease-out 0.6s;
}

.elements .left a span {
	margin-left: -40px;
}

.elements .right a span {
	margin-left: -45px;
}

.elements .middle span {
	margin-left: -48px;
}

.elements .left {
	padding: 0px;
}

.elements .middle {
	padding: 0px 10px;
}

.elements .right {
	padding: 0px;
}

.elements .policy {
	font-size: 18px;
	white-space: nowrap;
	margin-top: 10px;
	color: white;
	padding: 5px;
}

.elements .policy:hover .fa {
	width: 18px;
	height: 15px;
	animation: policy-icon 0.5s ease;
	cursor: default;
}

@keyframes policy-icon {
	0% {
		font-size: 14px;
	}
	50% {
		font-size: 12px;
	}
	100% {
		font-size: 14px;
	}
}

@-webkit-keyframes policy-icon {
	0% {
		font-size: 14px;
	}
	50% {
		font-size: 12px;
	}
	100% {
		font-size: 14px;
	}
}

@-o-keyframes policy-icon {
	0% {
		font-size: 14px;
	}
	50% {
		font-size: 12px;
	}
	100% {
		font-size: 14px;
	}
}

@-ms-keyframes policy-icon {
	0% {
		font-size: 14px;
	}
	50% {
		font-size: 12px;
	}
	100% {
		font-size: 14px;
	}
}

.elements .policy p {
	border: 1px solid white;
	position: relative;
}

.elements .policy p > span {
	position: absolute;
	left: 50%;
	top: 50%;
	text-align: center;
}

.elements .policy p span span {
	font-size: 14px;
}

.elements .left .policy {
	background-color: #bb5663;
}

.elements .right .policy {
	background-color: #0ec3df;
}

.list-products {
	overflow: auto;
	margin: 20px 70px;
}
.list-p-slide{
	overflow: hidden;
	margin: 20px 70px;
}

/*Heading style*/
.heading-2{
	border-bottom: 3px solid #252525;
	width: 100%;
	margin-bottom: 20px;
	padding-top: 5px;
}
.heading-2 .title-arrow{
	position: relative;
	bottom: 24px;
	border-right: 40px solid transparent;
	border-bottom: 30px solid #252525;
}
.heading-2 .title-arrow .title-text{
	position: relative;
	color: #fff;
	padding: 0 10px;
	top: 24px;
}

/*end*/
.list-products > .heading {
	border-bottom: 3px solid #252525;
	position: relative;
	font-weight: bold;
	padding-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.list-products > .heading span {
	position: relative;
	top: 12px;
	color: white;
	background-color: #252525;
	padding: 6px 10px 3px;
	white-space: nowrap;
	font-weight: normal;
}

.list-products
.product, .product {
	margin-top: 20px;
	min-height: 340px;
	padding: 0 30px;
}

.product div.p-img {
	position: relative;
}

.product div a {
	display: block;
}

.product a:first-child img {
	width: 100%;
	height: auto;
}

.product a:last-child {
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -18px;
	width: 35px;
	height: 35px;
	border-radius: 50px;
	background-color: #ee3b27;

	transition: background-color 0.25s ease;
	-webkit-transition: background-color 0.25s ease;
	-moz-background-color: background-color 0.25s ease;
	-o-transition: background-color 0.25s ease;
	-ms-transition: background-color 0.25s ease;

	transform: scale(0);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
}

.product div:hover a:last-child {
	animation: scale-icon 1s;
	-webkit-animation: scale-icon 1s;
	-moz-animation: scale-icon 1s;
	-o-animation: scale-icon 1s;
	-ms-animation: scale-icon 1s;

	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
}

.product a:last-child .fa {
	position: absolute;
	left: 48%;
	margin-left: -9px;
	bottom: 9px;
	color: white;
}

.product a:last-child:hover {
	background-color: white;
	border: 2px solid #ee3b27;
}

.product a:last-child:hover .fa {
	color: #ee3b27;
	animation: product-icon 1s;
	-webkit-animation: product-icon 1s;
	-moz-animation: product-icon 1s;
	-o-animation: product-icon 1s;
	-ms-animation: product-icon 1s;
}
#p-slider{
	height: 370px;
}
#p-slider .carousel-indicators{
	bottom: -10px !important;
}

.fa-1-2{
	font-size: 1.2em;
}

.div-row{
	margin: 5px 0;
}

.sale-label{
	padding: 2px 5px 0;
	border: 1px solid #ee3b27;
	font-size: small;
	color: #fff;
	background-color: #ee3b27;
}
.p-name{
	font-size: small;
	width: 69%;
}
.p-title{
	border-top: 1px solid #ddd;
	margin-top: 10px;
	padding-top: 10px;
}
.price-new{
	color: #ee3b27;
}
.price-old{
	color: #999;
	text-decoration: line-through;
	font-size: small;
}

@keyframes product-icon {
	0% {
		transform: rotate(-20deg);
	}
	25% {
		transform: rotate(20deg);
	}
	50% {
		transform: rotate(-10deg);
	}
	75% {
		transform: rotate(10deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes scale-icon {
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

@-webkit-keyframes scale-icon {
	0% {
		-webkit-transform: scale(0);
	}
	50% {
		-webkit-transform: scale(1.2);
	}
	100% {
		-webkit-transform: scale(1);
	}
}

@-ms-keyframes scale-icon {
	0% {
		-webkit-transform: scale(0);
	}
	50% {
		-webkit-transform: scale(1.2);
	}
	100% {
		-webkit-transform: scale(1);
	}
}

@-o-keyframes scale-icon {
	0% {
		-webkit-transform: scale(0);
	}
	50% {
		-webkit-transform: scale(1.2);
	}
	100% {
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes scale-icon {
	0% {
		-webkit-transform: scale(0);
	}
	50% {
		-webkit-transform: scale(1.2);
	}
	100% {
		-webkit-transform: scale(1);
	}
}

.detail-p {
	overflow: auto;
}

.detail-p img {
	width: 100%;
	height: auto;
}

.detail-p > div {
	float: left;
}

.detail-p .list img {
	padding-bottom: 10px;
}

.detail-p .detail {
	position: relative;
	padding: 0px;
}

.detail-p .large {
	position: absolute;
	display: none;
	left: 0px;
	top: 0px;
	border: 1px solid white;
	background-repeat: no-repeat;
}

.detail-p .info > div {
	line-height: 30px;
}

.detail-p .info > div > div, .detail-p .info form {
	border-bottom: 1px solid #ccc;
	padding: 10px 0px;
}

.detail-p .info > div > div:last-child {
	border: none;
}

.detail-p .info .div-1 {
	padding-top: 0;
}

.detail-p .info .div-1 p:first-child {
	overflow: auto;
}

.detail-p .info .div-1 p:first-child span {
	float: right;
}

.detail-p .info .div-1 p:nth-of-type(2) {
	font-size: 12px;
	line-height: 20px;
}

.detail-p .info .div-2 > div {
	margin-bottom: 15px;
}

.mausac input, .kichco input {
	display: none;
}

.mausac input:checked + label {
	border: 1px solid red;
}

.kichco input:checked + label {
	border: 1px solid #ee3b27;
}

.mausac label,
.kichco label, .box-size, .box-color {
	display: inline-block;
	min-width: 20px;
	height: 20px;
	padding: 1px;
	text-align: center;
	margin-right: 5px;
	margin-bottom: 8px;
	background-clip: content-box;
}

label.box-color img{
	width: 100%;
}
.kichco label{
	line-height: 20px;
}

.kichco label, .box-size {
	border: 1px solid #252525;
	font-size: 14px;
}

.detail-p .info .div-2 div:last-child {
	overflow: auto;
}

.detail-p .info .div-2 div:last-child p {
	float: left;
	line-height: 2.5;
}

.detail-p .info .div-2 input[type=number], .qty_num {
	height: 20px;
	width: 50px;
	border: 1px solid #252525;
	padding: 5px 8px;
}
.detail-p .info .div-2 input[type=number]{
	height: 26px;
}
.detail-p .info .div-2 input[type=number]:focus, .qty_num:focus {
	outline: none;
}

.detail-p .info .div-2 input[type=submit], .detail-p .info .div-2 input[type=button] {
	float: right;
}

/*Zoom product*/
/*Some CSS*/
.magnify {position: relative;}

/*Lets create the magnifying glass*/
.large {
	width: 200px; height: 200px;
	position: absolute;
	border-radius: 100%;

	/*Multiple box shadows to achieve the glass effect*/
	box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85),
	0 0 7px 7px rgba(0, 0, 0, 0.25),
	inset 0 0 40px 2px rgba(0, 0, 0, 0.25);

	/*hide the glass by default*/
	display: none;
	background-repeat: no-repeat !important;
}

/*Tab style*/
.info-tabs .nav-tabs {
	border-color: #252525;
}

.info-tabs .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	border-color: #252525;
	border-bottom-color: transparent;
	background-color: #252525;
	color: #fff;
}

.info-tabs .nav-tabs > li > a {
	border-radius: 0;
}

.info-tabs .nav-tabs > li.active > a:hover, .info-tabs .nav-tabs > li.active > a:focus{
	background-color: #252525;
}

.info-tabs .nav > li > a {
	padding: 8px 15px;
	background-color: #ECECF0;
	border-bottom-color: #252525;
}

.tab-content {
	padding: 15px;
	text-align: justify;
	border: 1px solid #252525;
	border-top-width: 0px;
}
.info-tabs .nav-tabs>li>a:hover{
	border-color: #252525;
}
.info-tabs .nav>li>a:focus, .info-tabs .nav>li>a:hover{
	background-color: transparent;
}

.comment {
	margin: 20px 70px;
}

.comment > div {
	padding: 20px 0px;
}

.comment .head-com {
	border-bottom: 1px solid #252525;
	padding: 5px 0px;
}

.comment .head-com p:last-child {
	overflow: auto;
	padding-top: 20px;
}

.comment .head-com p:last-child span {
	float: right;
}

.comment .head-com option {
	line-height: 24px;
}

.comment .content-com > p {
	float: left;
	line-height: 28px;
}

.comment .content-com .com {
	clear: both;
}

.rating {
	overflow: auto;
	float: left;
}

.rating, label {
	padding: 0px;
	margin: 0px;
}

.rating input {
	display: none;
}

.rating label:before {
	margin: 5px;
	font-size: 1.25em;
	font-family: FontAwesome;
	display: inline-block;
	content: "\f005";
}

.rating .half:before {
	content: "\f089";
	position: absolute;
}

.rating label {
	color: #ddd;
	float: right;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
	color: #FFD700;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
	color: #FFED85;
}

.comment .com {
	overflow: auto;
}

.comment .com textarea {
	border-radius: 5px;
	width: 100%;
	height: 50px;
}

.comment .com input {
	float: right;
	margin-top: 10px;
}

.filter {
	border: 1px solid #252525;
	padding: 20px;
	line-height: 24px;
}

.filter ul {
	padding: 0px 0px 20px 20px;
}

.filter form {
	padding: 10px 0px 0px 20px;
}

.filter form .mausac, .filter form .kichco {
	padding-left: 20px;
}

.filter #amount {
	border: none;
}

.filter .ui-slider-horizontal {
	height: 0.5em;
}

.filter .ui-widget-header {
	background: #252525;
}

.filter .ui-slider-horizontal .ui-slider-handle {
	top: -0.4em;
}

.filter .ui-slider-handle.ui-corner-all {
	border-radius: 100%;
}

.filter .ui-slider-handle.ui-state-default {
	border: 1px solid #252525;
	background-color: white;
}

/*Sidebar*/
.main-sidebar {
	position: relative;
	width: 100%
}

.sidebar-menu li.header {
	padding-left: 0;
	padding-top: 0;
	font-size: 15px;
	color: #353535
}

span.tree-item {
	position: relative;
	display: block;
	padding: 5px 5px 5px 0;

}

.sidebar-menu li > a {
	position: initial;

}

.sidebar-menu > li > a {
	padding: 0
}

.sidebar-menu li.active > a > .fa-angle-left, .sidebar-menu li > a > .fa-angle-left {
	top: 14px;
	right: 0;
	font-size: 16px;
}

.sidebar-menu > li .label, .sidebar-menu > li .badge {
	position: absolute;
	top: 6px;
	right: 0;
}
.sidebar-menu a:hover, .sidebar-menu a.active{
	color: #ee3b27;
}

/*End sidebar*/

ul.p-menu > li{
	padding: 3px 0;
}
ul.p-menu > li > a:hover{
	color: #ee3b27;
}
ul.p-menu > li > a.active{
	color: #ee3b27;
}

.user ul {
	overflow: auto;
	padding: 0px;
}

.user ul li {
	padding: 10px 20px;
}

.user a {
	line-height: 30px;
}

.user .fa {
	margin-right: 5px;
}

.user li:hover {
	background-color: #EEE;
}

.user a:hover  {
	text-decoration: none;
}
.user li.state-focus{
	background-color: #DDDDDD;
}

footer {
	overflow: auto;
	background-color: #252525;
	color: white;
	font-family: Lato, Tahoma;
	padding: 20px 0;
}

footer a, footer a:hover {
	color: white;
}

footer .fa {
	padding: 0px 10px 0px 0px;
}

footer li {
	margin: 10px 0px;
}

@media only screen and (max-width: 1024px) {
	.product.col-3 {
		width: 25%;
	}

	#myNav input:focus {
		width: 180px;
	}
}

@media only screen and (max-width: 767px) {
	.elements img {
		width: 100%;
	}

	.elements .left,.elements .middle, .elements .right {
		padding: 10px 20px;
	}

	.elements .policy {
		display: none;
	}

	.detail-p .detail {
		display: none;
	}

	#myNav ul:first-child {
		border-bottom: 1px solid #252525;
	}

	#myNav ul:last-child li {
		height: 35px;
	}

	#myNav input {
		width: 100%;
		border: 1px solid #252525;
	}

	#myNav li.fa-shopping-cart::after {
		content: 'GIỎ HÀNG';
		font-size: 14px;
		font-family: Lato, Tahoma;
		padding-left: 20px;
	}

	#myNav li.fa-user::after {
		content: 'ĐĂNG NHẬP - ĐĂNG XUẤT';
		font-size: 14px;
		font-family: Lato, Tahoma;
		padding-left: 25px;
	}
}

/*Back to top style*/
#topcontrol {
	background-color: #ee3b27;
	color: #fff;
	text-align: center;
	display: inline-block;
	width: 35px;
	height: 35px;
	border: 1px solid #ee3b27;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
}
#topcontrol:hover {
	background: transparent;
	color: #ee3b27;
}
#topcontrol .fa {
	position: relative;
	top: 3px;
	font-size: 25px;
}

/*Alert style*/
/*.alert .close {*/
	/*margin-left: 30px;*/
	/*line-height: 0.8;*/
/*}*/

/*#myAlert, #ajaxAlert {*/
	/*position: fixed;*/
	/*top: 10px;*/
	/*z-index: 9999;*/
	/*padding-bottom: 10px;*/
/*}*/

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
	position: relative;
	min-height: 1px;
	padding-right: 20px;
	padding-left: 20px;
}

.col-xs-5ths {
	width: 20%;
	float: left;
}

@media (min-width: 768px) {
	.col-sm-5ths {
		width: 20%;
		float: left;
	}
}

@media (min-width: 992px) {
	.col-md-5ths {
		width: 20%;
		float: left;
	}
}

@media (min-width: 1200px) {
	.col-lg-5ths {
		width: 20%;
		float: left;
	}
}

/*CHeck ou*/
.container.checkoutpage{
	margin-top: 20px;
}
.checkout_content{
	border-top: solid 1px #dbdbdb;
	padding-top: 10px;
}
.badge{
	margin-right: 5px;
}
.checkout_title{
	font-variant: small-caps;
	font-size: 17px;
	margin-bottom: 10px;
}
#checkout_alert_adr{display: none;}
#checkout_alert_paym{display: none;}
#checkout_form .border{
	border-right: solid 1px #dbdbdb;
	/*border-left: solid 1px #dbdbdb;*/
}
table{
	font-size: 12px;
}
#filter_price{
	font-size: 15px;
}
#filter_price > li > label{
	margin-left: 5px;
}