#signup{
	margin-top: 50px;
    border-radius: 0px;
}
#signin{
	float: right;
	font-size: 80%;
	position: relative;
    top: -20px;
}

#signin > a {
    color: #000;
}

#signin > a:hover {
    color: #dbdbdb;
    text-decoration: none;
}

#signup-panel-heading {
    background-color: #fff;
    border-color: #fff;
    color: #000000;
    padding-top: 15px;
}

.panel-title {
    border-bottom: solid 1px #888;
    padding-bottom: 13px;
}
#signup_alert{
	display: none;
}

#btn-signup {
    background-color: #ff0000;
    border-color: #ff0000;
}

#btn-signup:hover {
    background-color: #dc0000;
    border-color: #dc0000;
}
#login_or{
    text-align: center;
    font-size: 12px;
    color: #999;
    position: relative;
    display: table;
    white-space: nowrap;
    margin-top: 15px;
}
i.fa.fa-facebook {
    margin-right: 10px;
}
i.fa.fa-sign-in {
    margin-right: 10px;
}
.panel.panel-info {
    margin-bottom: 0;
}

input[type=text]:focus, input[type=password]:focus {
    border-color: #888;
    box-shadow: 0 1px 1px #888 inset, 0 0 4px #888;
    outline: 0 none;
}