<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Untitled Document</title>
	<link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css"/>
	<link rel="stylesheet" type="text/css" href="../bootstrap/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../css/css.css"/>
</head>

<body>
<div class="comment">
	<div class="head-com col-lg-12">
		<p class="title">BÌNH LUẬN</p>
       	<p>
			5 bình luận
    		<span>
        		Sắp xếp theo:
            	<select>
            		<option>Mới nhất</option>
                	<option>Cũ nhất</option>
            	</select>
        	</span>
		</p>
    </div>
    
    <div class="content-com col-lg-12">
    	<p class="title">Đánh giá: </p>
        <div class="rating">
    		<input type="radio" id="star5" name="rating" value="5" />
            <label class = "full" for="star5"></label>
    		<input type="radio" id="star4half" name="rating" value="4 and a half" />
            <label class="half" for="star4half"></label>
    		<input type="radio" id="star4" name="rating" value="4" />
            <label class = "full" for="star4"></label>
    		<input type="radio" id="star3half" name="rating" value="3 and a half" />
            <label class="half" for="star3half"></label>
   			<input type="radio" id="star3" name="rating" value="3" />
            <label class = "full" for="star3"></label>
    		<input type="radio" id="star2half" name="rating" value="2 and a half" />
            <label class="half" for="star2half"></label>
    		<input type="radio" id="star2" name="rating" value="2" />
            <label class = "full" for="star2"></label>
    		<input type="radio" id="star1half" name="rating" value="1 and a half" />
            <label class="half" for="star1half"></label>
    		<input type="radio" id="star1" name="rating" value="1" />
    		<label class = "full" for="star1"></label>
    		<input type="radio" id="starhalf" name="rating" value="half" />
            <label class="half" for="starhalf"></label>
		</div>
        
        <div class="com" >
        	<textarea></textarea>
        	<p><input type="submit" value="BÌNH LUẬN" /></p>
        </div>
    </div>
</div> 

<script type="text/javascript" src="../jquery/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../bootstrap/bootstrap.min.js"/></script>
<script type="text/javascript" src="../jquery/jquery.js"/></script>
</body>
</html>
