<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Document</title>
    <link rel="stylesheet" type="text/css" href="../css/css.css"/>
    <script type="text/javascript" src="../jquery/jquery-2.1.4.min.js"></script>
</head>

<body>
<div class="slide-detail">
    <div class="col-1 list">
        <img src="../image/sanpham.jpg"/>
        <img src="../image/sanpham_sau.jpg"/>
    </div>
    <div class="col-4 detail">
        <div class="large"></div>
        <img class="small" src="../image/sanpham.jpg"/>
    </div>
</div>

<div class="col-7">
    <div class="info">
        <div>
            <p>ÁO PHÔNG PU CẢI <span>200.000đ</span></p>
            <p>Chất liệu: cotton<br/>Đánh giá: 4.5</p>
        </div>

        <div>
            <p>Màu sắc</p>
            <div>
                <input type="checkbox" id="check1"/>
                <input type="checkbox" id="check2"/>
                <input type="checkbox" id="check3"/>

                <label for="check1"></label>
                <label for="check1"></label>
                <label for="check1"></label>
            </div>

            <p>Kích cỡ</p>
            <p>Vui lòng chọn màu sắc ở trên</p>
            <div>
                <input type="checkbox" id="check1"/>
                <input type="checkbox" id="check2"/>
                <input type="checkbox" id="check3"/>

                <label for="check1">S</label>
                <label for="check1">M</label>
                <label for="check1">N</label>
            </div>

            <div>
                <p>Số lượng: </p><input type="number"/>
                <input type="submit"/>
            </div>
        </div>

        <div>
            <span>Đánh giá sản phẩm</span>
            <fieldset class="rating">
                <input type="radio" id="star5" name="rating" value="5"/>
                <label class="full" for="star5" title="Awesome - 5 stars"></label>

                <input type="radio" id="star4half" name="rating" value="4 and a half"/>
                <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>

                <input type="radio" id="star4" name="rating" value="4"/>
                <label class="full" for="star4" title="Pretty good - 4 stars"></label>

                <input type="radio" id="star3half" name="rating" value="3 and a half"/>
                <label class="half" for="star3half" title="Meh - 3.5 stars"></label>

                <input type="radio" id="star3" name="rating" value="3"/>
                <label class="full" for="star3" title="Meh - 3 stars"></label>

                <input type="radio" id="star2half" name="rating" value="2 and a half"/>
                <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>

                <input type="radio" id="star2" name="rating" value="2"/>
                <label class="full" for="star2" title="Kinda bad - 2 stars"></label>

                <input type="radio" id="star1half" name="rating" value="1 and a half"/>
                <label class="half" for="star1half" title="Meh - 1.5 stars"></label>

                <input type="radio" id="star1" name="rating" value="1"/>
                <label class="full" for="star1" title="Sucks big time - 1 star"></label>

                <input type="radio" id="starhalf" name="rating" value="half"/>
                <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
            </fieldset>
        </div>
    </div>
</div>

<script type="text/javascript" src="../jquery/jquery.js"></script>
</body>
</html>
