<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="../jquery/jquery-2.1.4.min.js"></script>
<link rel="stylesheet" type="text/css" href="../css/css.css"/>
<title>Untitled Document</title>
</head>

<body>
<div class="elements">
	<div class="col-4 left">
    	<a href="#"><img src="../image/slide-nu.jpg" /><span>NỮ</span></a>
        <div class="policy"><p><span style="vertical-align:middle">MIỄN PHÍ GIAO HÀNG<br/><span>với hóa đơn trên 500.000đ</span></span></p></div>
    </div>
    
    <div class="col-4 middle">
    	<a href="#"><img src="../image/slide-nam.jpg" /><span>NAM<br /><span>Xem ngay</span></span></a>
    </div>
    
    <div class="col-4 right">
    	<a href="#"><img src="../image/slide-phukien.jpg" /><span>PHỤ KIỆN</span></a>
        <div class="policy"><p><span style="vertical-align:middle">ĐỔI TRẢ<br/><span>trong vòng 3 ngày</span></span></p></div>
    </div>
</div>

<script type="text/javascript" src="../jquery/jquery.js"></script>
</body>
</html>
