<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Untitled Document</title>
	<link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css"/>
	<link rel="stylesheet" type="text/css" href="../bootstrap/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../css/css.css"/>
</head>

<body>
<footer>
	<div class="col-sm-4">
		<a href="#"><img src="../image/logo-inverse.png"></a>
		<ul>
			<li><i class="fa fa-map-marker"></i> Số 3, Ngõ 2, Nguyễn Văn Ngọc, Cống Vị, Hà Nội</li>
			<li><i class="fa fa-phone"></i> 0934593585</li>
			<li><i class="fa fa-envelope"></i>saleonline@stylitics.vn</li>
		</ul>
	</div>
	
	<ul class="col-sm-2">
		<li><a href="#">TRANG CHỦ</a></li>
	</ul>
	
	<ul class="col-sm-2">
		<li>ÁO</li>
		<li><a href="#">Áo sơmi</a></li>
		<li><a href="#">Áo phông</a></li>
	</ul>
	
	<ul class="col-sm-2">
		<li>QUẦN</li>
	</ul>
	
	<ul class="col-sm-2">
		<li>VÁY</li>
	</ul>
</footer>
	
	
<script type="text/javascript" src="../jquery/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../bootstrap/bootstrap.min.js"/></script>
<script type="text/javascript" src="../jquery/jquery.js"/></script>

</body>
</html>
