<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Untitled Document</title>
<link rel="stylesheet" type="text/css" href="../css/css.css"/>
</head>

<body>
<header class="col-12">
	<div class='info'>
    	<p><a href="#">Đăng nhập</a> | <a href="#">Đăng ký</a></p>
        <p>
        	<input type="text" name="txtSearch" placeholder="Tìm kiếm..." />
            <a href="#">GIỎ HÀNG</a> | 0 sản phẩm | 0 đồng
        </p>
    </div>
    
    <div class='logo'>
    	<img src="../image/logo.png" />
    </div>
</header>
</body>
</html>
