<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Untitled Document</title>
    <link rel="stylesheet" type="text/css" href="../css/css.css"/>
</head>

<body>
<div class="list-products">
    <p><span>SẢN PHẨM MỚI</span></p>
    <div class="col-3 product">
        <div>
            <a href="#"><img src="../image/sanpham.jpg"/></a>
            <a href="#" class="icon-cart"><img src="../image/icon/icon-cart.png" width="25px" height="25px"><span>Thêm vào giỏ hàng</span></a>
        </div>
        <p style="margin-top:20px;">Áo phông BU cải<br/><span>200.000đ</span></p>
    </div>

    <div class="col-3 product">
        <div>
            <a href="#"><img src="../image/sanpham.jpg"/></a>
            <a href="#" class="icon-cart"><img src="../image/icon/icon-cart.png" width="25px" height="25px"><span>Thêm vào giỏ hàng</span></a>
        </div>
        <p style="margin-top:20px;">Áo phông BU cải<br/><span>200.000đ</span></p>
    </div>

    <div class="col-3 product">
        <div>
            <a href="#"><img src="../image/sanpham.jpg"/></a>
            <a href="#" class="icon-cart"><img src="../image/icon/icon-cart.png" width="25px" height="25px"><span>Thêm vào giỏ hàng</span></a>
        </div>
        <p style="margin-top:20px;">Áo phông BU cải<br/><span>200.000đ</span></p>
    </div>

    <div class="col-3 product">
        <div>
            <a href="#"><img src="../image/sanpham.jpg"/></a>
            <a href="#" class="icon-cart"><img src="../image/icon/icon-cart.png" width="25px" height="25px"><span>Thêm vào giỏ hàng</span></a>
        </div>
        <p style="margin-top:20px;">Áo phông BU cải<br/><span>200.000đ</span></p>
    </div>
</div>
</body>
</html>
