<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Untitled Document</title>
	<link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css"/>
	<link rel="stylesheet" type="text/css" href="../bootstrap/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../css/css.css"/>
</head>

<body>
<div class="list-products">
	<p><span>SẢN PHẨM MỚI</span></p>
	<div class="col-sm-4 col-md-3 product">
    	<div>
        	<a href="#"><img src="../image/sanpham.jpg" /></a>
            <a href="#" class="icon-cart"><i class="fa fa-shopping-basket fa-2x"></i></a>
        </div>
        <p style="margin-top:20px;">MIDNIGHT LOVER DRESS<br /><span>200.000đ</span></p>
    </div>
    
    <div class="col-sm-4 col-md-3 product">
    	<div>
        	<a href="#"><img src="../image/sanpham.jpg" /></a>
            <a href="#" class="icon-cart"><i class="fa fa-shopping-basket fa-2x"></i></a>
        </div>
        <p style="margin-top:20px;">MIDNIGHT LOVER DRESS<br /><span>200.000đ</span></p>
    </div>
    
    <div class="col-sm-4 col-md-3 product">
    	<div>
        	<a href="#"><img src="../image/sanpham.jpg" /></a>
            <a href="#" class="icon-cart"><i class="fa fa-shopping-basket fa-2x"></i></a>
        </div>
        <p style="margin-top:20px;">MIDNIGHT LOVER DRESS<br /><span>200.000đ</span></p>
    </div>
    
    <div class="col-sm-4 col-md-3 product">
    	<div>
        	<a href="#"><img src="../image/sanpham.jpg" /></a>
            <a href="#" class="icon-cart"><i class="fa fa-shopping-basket fa-2x"></i></a>
        </div>
        <p style="margin-top:20px;">MIDNIGHT LOVER DRESS<br /><span>200.000đ</span></p>
    </div>
</div>

<script type="text/javascript" src="../jquery/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../bootstrap/bootstrap.min.js"/></script>
<script type="text/javascript" src="../jquery/jquery.js"/></script>
</body>
</html>
