<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="../css/css.css"/>
    <script type="text/javascript" src="../jquery/jquery-2.1.4.min.js"></script>
    <title>Untitled Document</title>
</head>

<body class="col-12">
<div class='slide'>
    <div class='slide-image'>
        <a href="#"><img src="../image/slide-1.jpg"/></a>
        <a href="#"><img src="../image/slide-2.png"/></a>
        <a href="#"><img src="../image/slide-3.jpg"/></a>
    </div>

    <ul class='slide-bullet'></ul>
</div>
<script type="text/javascript" src="../jquery/jquery.js"></script>
</body>
</html>
