<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Untitled Document</title>
	<link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css"/>
	<link rel="stylesheet" type="text/css" href="../bootstrap/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../css/css.css"/>
</head>

<body>
<div class="user">
	<ul class="col-sm-3">
		<li><i class="fa fa-user"></i><a href="#">Thông tin cơ bản</a></li>
		<li><i class="fa fa-lock"></i><a href="#">Bảo mật và mật khẩu</a></li>
		<li><i class="fa fa-clock-o"></i><a href="#">Hoạt động gần đây</a></li>
		<li><i class="fa fa-calendar"></i><a href="#">Lịch sử đơn hàng</a></li>
		<li><i class="fa fa-plus-square "></i><a href="#">Thông tin điểm</a></li>
	</ul>
</div>	
	
<script type="text/javascript" src="../jquery/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../bootstrap/bootstrap.min.js"/></script>
<script type="text/javascript" src="../jquery/jquery.js"/></script>

</body>
</html>
